<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>21/10/26 08:07:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_CashieringPost.TC001_RecieptAdjustment()[pri:3, instance:com.NexustAPIAutomation.java.TC_CashieringPost@5e3a8624]">TC001_RecieptAdjustment</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>21/10/26 08:06:21</td>   <td>-76132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_CashieringPost.TC002_saveReciept()[pri:2, instance:com.NexustAPIAutomation.java.TC_CashieringPost@5e3a8624]">TC002_saveReciept</td> 
  <td>main@101478235</td>   <td></td> </tr>
</table>
